body {
  padding: 0;
  margin: 0;
  font-family: "Public Sans", sans-serif;
}

header {
  background-color: rgb(20, 146, 171);
  padding: 7% 10% 10% 10%;
  transform: skewY(-10deg) translateY(-20vh);
}

#about-me {
  background-color: white;
  display: flex;
  align-items: center;
  max-width: 40vw;
  min-width: 500px;
  max-height: 20vh;
  min-height: 150px;
  padding: 2%;
  transform: skewY(10deg) translate(70%, 20vh);
  box-shadow: 0px 0px 4px 1px grey;
  font-size: 15px;
}

#about-text {
  padding: 0 3% 0 3%;
}

h1 {
  margin-top: -10%;
  text-align: center;
  color: white;
  text-shadow: 0px 0px 2px black;   
}

#main-profile {
  float: left;
  margin-left: -420px;
}

main {
  padding: 10vh 10vw;
}

h2 {
  margin-bottom: 2vh;
}

#med-icons {
  text-align: right;
}

#container {
  display: grid;
  grid-template: 1fr 1fr / repeat(auto-fit, minmax(250px, 1fr) );
  gap: 5vw;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 0px 3px 1px lightgrey;
  padding: 6% 8%;
  max-width: 250px;
}

.card * {
  padding: 0;
  margin: 0;
}

.mini-header {
  margin: 5%;
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

footer {
  background-color: rgb(20, 146, 171);
  display: flex;
  color: white;
  justify-content: space-evenly;
  align-items: center;
  padding: 3%;
}

#phone, #email {
  display: flex; 
  gap: 10px;
}

#big-icons * {
  margin: 2%;
}

@media (max-width: 1024px) {  

  #about-me {
    background-color: white;
    display: flex;
    align-items: center;
    min-height: 30vh;
    max-height: 40vh;
    min-width: 50vw;
    padding: 2%;
    transform: skewY(10deg) translate(60%, 20vh);
    box-shadow: 0px 0px 4px 1px grey;
    font-size: 15px;
    margin-top: 20vh;
  }

  #main-profile {
    margin-left: -40vw;
    margin-top: -30vh;
  }

  h1 {
    text-align: center;
    color: white;
    text-shadow: 0px 0px 2px black;  
    transform: translate(40vw, -40vh); 
  }
}

@media (max-width: 701px) {
  header {
    margin-bottom: 10vh;
    padding-bottom: 0vh;
  }

  #about-me {
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: skewY(10deg) translateX(22%);
    box-shadow: 0px 0px 4px 1px grey;
    font-size: 15px;
    margin-bottom: 35vh;
  }

  #about-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #main-profile {
    margin: 0;
  }

  h1 {
    margin: 0;
    padding: 0;
    color: white;
    transform: translate(0, -6vh);
    text-shadow: 0px 0px 2px black;  
  }

  footer {
    flex-direction: column;
    gap: 5vh;
  }
}